.outerEditItemModal {
    background-color: transparent;
    position: relative;
    padding: 10px;
}

.close-editItem-modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
}

.edit-item-header {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.EditItemModal {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    width: 700px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-type-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
}

.images-edit-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 250px;
    gap: 10px;
}

.edit-item-main-image {
    height: 250px;
}

.edit-item-sub-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 120px;
    gap: 10px;
}

.save-edit-item-container {
    height: 50px;
}

.to-display-toggle-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.EditItemModal .to-display-text {
    font-size: 14px;
}

@media (max-width: 768px) {
    .EditItemModal {
        width: 90%;
    }
}

@media (max-width: 600px) {
  .ViewEditModal {
    min-width: 300px;
    padding: 12px;
  }

  .name-type-container {
    flex-direction: column;
    gap: 12px;
  }

  .images-edit-item-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
  }

  .edit-item-main-image {
    height: 200px;
  }

  .edit-item-sub-images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}