.ToDisplayModal {
  width: 100%;
  margin: 20px 0px;
  background-color: #f5f5f5;

  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  min-width: 600px;
  min-height: 400px;
}

.outerToDisplayModal {
  padding: 12px;
  background-color: transparent;
  overflow: hidden;
  max-height: 700px;
}

.close-display-modal {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.to-display-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 400px;
  min-height: 400px;
  padding-right: 5px;
}

.top-to-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.to-display-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-radius: 3px;
  background-color: #ffffff;
  transition: all .3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.to-display-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.to-display-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.to-display-button {
  display: flex;
}

.to-display-img-container {
  width: 60px;
  height: 80px;
}

.to-display-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.to-display-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.to-display-search-input {
  border: 1px solid #0c0c0c;
}

/* Display toggle text */
.to-display-text {
  margin-right: 12px;
  font-size: 10px;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease;
  text-align: center;
}

.to-display-text.not-display {
  text-decoration: line-through;
  font-style: italic;
}

/* When active (Display) */
.to-display-text.display {
  background-color: #c5fcc5;
  color: #28a745; /* green */
}

/* When inactive (Not Display) */
.to-display-text.not-display {
  background-color: #ffcbcb;
  color: #dc3545; /* red */
}

/* Hover effect */
.to-display-text:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  .ToDisplayModal {
    min-width: 100%;
    padding: 20px;
  }
}

@media (max-height: 600px) {
  .to-display-items-container {
    max-height: 300px;
    min-height: 300px;
  }
}

@media (max-width: 400px) {
  .to-display-item {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .to-display-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .to-display-img-container {
    width: 100%;
    height: auto;
  }

}